.wishlistProduct {
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wishlistProduct_info {
    padding-left: 20px;
}

.wishlistCart_button {
    background: #e7064a;
  border: 1px solid;
  border-radius: 2px;
  margin-top: 10px;
  border-color: #9c0216 #b40427 #d1051d;
  color: whitesmoke;
  width: 150px;
}

.remove_button {
    background: rgb(255, 230, 161);
    border: 1px solid;
    border-radius: 2px;
    margin-top: 10px;
    border-color: black;
    color: black;
    width: 150px;
}

.wishlistProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.wishlistProduct_rating {
    display: flex;
}

.wishlistProduct_title {
    font-size: 17px;
    font-weight: 600;
}


@media only screen and (max-width: 600px) {
    .wishlistProduct {
        display: flex;;
    }
}