.checkoutProduct {
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__info > button {
    background: rgb(255, 230, 161);
    border: 1px solid;
    margin-top: 10px;
    border-color: black;
    color: black;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .checkoutProduct {
        width: 150px;
    }
    
    .checkoutProduct__info {
        width: 70%
    }

    .checkoutProduct__image {
        object-fit: contain;
        width: 100px;
        height: 100px;
    }

    .checkoutProduct__title {
        font-size: 15px;
        font-weight: 600;
    }
}